@* Author: Sky Martin
/// This implementation is based on the Azure SDK for .NET.
/// For educational purposes, refer to:
/// https://github.com/ByronMcCallLecturer/CLDV_SemesterTwo_Byron/blob/master/README.md
/// https://learn.microsoft.com/en-us/aspnet/mvc/overview/getting-started/
 *@


@model WebApp.Models.CustomerProfile

<form asp-action="UploadImage" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">Upload Image</button>
</form>

<form asp-action="AddCustomerProfile" method="post">
    <input type="text" name="FirstName" placeholder="First Name" />
    <input type="text" name="LastName" placeholder="Last Name" />
    <input type="email" name="Email" placeholder="Email" />
    <input type="text" name="PhoneNumber" placeholder="Phone Number" />
    <button type="submit">Add Profile</button>
</form>

<form asp-action="ProcessOrder" method="post">
    <input type="text" name="orderId" placeholder="Order ID" />
    <button type="submit">Process Order</button>
</form>

<form asp-action="UploadContract" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">Upload Contract</button>
</form>
